@font-face {
    font-family: cascadia;
    src: url("../fonts/Cascadia.ttf");
}

html {
    width: 100%;
    height: 100%;
}

header {
    text-align: center;
}

body {
    font-family: Arial, cascadia;
    background-color: #a0643c;
    font-weight: bold;
    color: black;
    
}

h2 {
    font-size: 24;
}

p {
    line-height: 1.0;
    font-size: 14;
}
